*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App{
  display: grid;
  /*grid-template-columns: 1fr 4fr; */
  grid-template-areas: 
  "nav nav nav"
  "conte conte conte"
  ;
  grid-template-columns: auto;
    grid-template-rows: auto;
    height: 20vh;
}
header{
  grid-area: nav;
}
.contenido{
  grid-area: conte;
}
.chards-home{
  color: blue;
}

#container{
  display: grid;
  grid-template-areas: 
  "nav encabezado encabezado encabezado"
  "nav publicidad publicidad aside"
  "nav noticias noticias aside"
  "nav footer footer footer"
  ;
  grid-template-columns: auto;
  grid-template-rows: auto;
  height: 80vh;
}
